/*-----------------------------------
# Page Template: About
------------------------------------*/
section.container-about {
  border: 1px solid #80caa5;
  position: relative;
  margin: 76px auto 0 auto;
  max-width: calc(100% - 60px);
  padding: 0 45px;
  width: 100%;
}
section.container-about article {
  float: right;
  padding: 30px;
  width: 66%;
}
section.container-about aside {
  background: $pink;
  box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 4px 7px 12px rgba(0, 0, 0, 0.6);
  color: $white;
  float: left;
  position: absolute;
  top: -77px;
  width: 30%;
}
section.container-about aside blockquote {
  float: left;
  font-family: "Roboto Slab Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3em;
  margin: 0 auto;
  padding: 30px 15px;
  text-transform: none;
}
section.container-about aside img {
  float: left;
  height: auto;
  width: 100%;
}
section.container-about aside span {
  display: block;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0.5em;
}

section.container-about:first-of-type{
  margin-top: 75px * 1.7;
}

section.container-about:nth-of-type(2n) article {
  float: left;
}
section.container-about:nth-of-type(2n) aside {
  float: right;
  right: 30px;
}
section.container-about:nth-of-type(2n+1) aside {
  left: 30px;
}
/*-----------------------------------
# Page Template: Blog Page
------------------------------------*/
.ad{
  width: 25%;
  float: right;
  text-align: center;
}
section.blog-post-row {
  margin-bottom: 30px;
  position: relative;
  width: 75%;
}
section.blog-post-row .media {
  display: inline-block;
  position: relative;
  width: 25%;
}
section.blog-post-row .media .img-wrap {
  border: 1px solid pink;
  height: 100%;
  position: absolute;
  right: -10px;
  top: 10px;
  width: 100%;
  z-index: -1;
}
section.blog-post-row .media img {
  height: auto;
  width: 100%;
}
section.blog-post-row .content {
  display: inline-block;
  float: right;
  padding: 15px;
  width: 75%;
}
