.blog-sidebar{
  float: right;
  display: inline-block;
  width: calc(30% - 15px);
}

.blog-sidebar strong{
  display: block;
  font-size: $h-size * 1.5;
}

/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .blog-sidebar{
    display: none;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .blog-sidebar{
    display: block;
  }
}
