/*-----------------------------------
# Font
------------------------------------*/
@font-face {
  src: url(../../assets/fonts/Roboto-Slab/RobotoSlab-Regular.ttf);
  font-family: "Roboto Slab Regular";
}
@font-face {
  src: url(../../assets/fonts/Roboto-Slab/RobotoSlab-Thin.ttf);
  font-family: "Roboto Medium";
}
