.generic-row:first-of-type{
  margin-top: 60px;
}
.generic-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.generic-row .generic-row-media,
.generic-row .content{
  margin: 30px;
  width: calc(50% - 60px);
}
.generic-row:nth-of-type(odd) .generic-row-media {
  order: 2;
}
.generic-row:nth-of-type(odd) .generic-row-media img {
  top: -15px;
  left: 15px;
  width: 100%;
}
.generic-row .content h2{
  font-size: $h-size * 1.5;
}
.generic-row .generic-row-media img {
  top: -15px;
  left: -15px;
  width: 100%;
}
.generic-row:nth-of-type(2) .generic-row-media {
  border: 1px solid $sea-green;
}
.generic-row:nth-of-type(3) .generic-row-media {
  border: 1px solid $baby-blue;
}
.generic-row:nth-of-type(4) .generic-row-media {
  border: 1px solid $pink;
}
.generic-row .content a {
  color: $white;
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.generic-row:nth-of-type(2) .content a {
  background: $sea-green;
}
.generic-row:nth-of-type(2) .content h2 {
  color: $sea-green;
}
.generic-row:nth-of-type(3) .content a  {
  background: $baby-blue;
}
.generic-row:nth-of-type(3) .content h2 {
  color: $baby-blue;
}
.generic-row:nth-of-type(4) .content a  {
  background: $pink;
}
.generic-row:nth-of-type(4) .content h2 {
  color: $pink;
}
