.hero-banner {
  background: linear-gradient(rgba(0,0,0, 1), rgba(0,0,0, 1));
  height: 480px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
    width: 100%;
  }
  p{
      line-height: 1.4;
      color: $white;
    }
}
@import 'media-p-h';
