.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0, 1), rgba(0,0,0, 1));
  height: 480px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  img {
    position: absolute;
    width: 100%;
  }
  div{
    width: 100%;
    background: rgba(128,202,165,.5);
    padding: 30px;
    align-self: flex-end;
    color: $white;
    h3{
      line-height: 1.4;
    }
  }
}
@import 'media-p-h';
