html, body {
  margin: 0;
  padding: 0;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/*wrapper*/
/*.wrapper{
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}*/
/*MAIN IMAGE*/
.mainImg {
  /*background-color: rgba(0,0,0,0.5);*/
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.mainImg img {
  height: auto;
  width: 100%;
}
.mainTitle, .mainImg h2 {
  /*width: 46%;*/
  color: white;
  display: block;
  height: auto;
  /*font-size: 45px;*/
  /*line-height: 28px;*/
  /*position: relative;*/
  /*left: 50%;*/
  position: absolute;
  /*margin: -100px 0px 0px 300px;*/
  text-align: center;
  top: 35%;
  width: 100%;
}
/*.cover{*/
  /*background: black;*/
  /*height: 520px;*/
  /*opacity: 0.3;*/
  /*position: relative;*/
  /*width: 100%;*/
/*}*/
/*.secondImgBin{*/
  /*border: 1px solid rgba(170,223,241,1);*/
  /*height: 340px;*/
  /*margin: 0 auto;*/
  /*margin-right: 100px;*/
  /*margin-top: 100px;*/
  /*width: 84%;*/
/*}*/
/*.secondImg{*/
  /*height: 340px;*/
  /*margin-left: 20px;*/
  /*margin-top: -20px;*/
  /*width: 100%;*/
/*}*/
/*MIDDLE*/
.middle, .single-blog-post-content {
  display: block;
  font-size: 20px;
  /*height: 890px;*/
  margin: 30px auto;
  position: relative;
  width: 100%;
  /*padding-top: 70px;*/
}
.middle section, .single-blog-post-content section {
  border: 1px solid rgba(128,202,165,1);
  display: block;
  /*height: 740px;*/
  margin: 0 auto;
  /*padding: 60px 0px 0px 90px;*/
  max-width: 960px;
  padding: 15px 60px;
  position: relative;
  text-align: left;
}
.middle section p, .single-blog-post-content section p {
  display: block;
  font-size: 16px;
  width: 100%;
}
.single-blog-post-content .middleLink, .single-blog-post-content .btn {
  background: rgba(247,165,170,1);
  color: white;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 40px; /* match line height to height to center vertically */
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
  width: 200px;
}
.single-blog-post-content img {
  display: inline-block;
  float: left;
  padding: 15px;
  width: 50%;
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
  .mainImg {
    height: 540px;
  }
  .middle section, .single-blog-post-content section {
    margin: 30px;
  }
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
  .mainImg {
    height: 400px;
  }
  .middle section, .single-blog-post-content section {
    margin: 30px;
    padding: 30px;
  }
}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .mainImg {
    height: 320px;
  }
  .mainTitle, .mainImg h2 {
    top: 25%;
  }
  .middle section, .single-blog-post-content section {
    margin: 15px;
    padding: 15px;
  }
  .single-blog-post-content img {
    margin: 15px auto;
    padding: 0;
    width: 100%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .mainImg {
    height: 240px;
  }
  .mainTitle, .mainImg h2 {
    top: 15%;
  }
  .single-blog-post-content .middleLink, .single-blog-post-content .btn {
    margin: 15px auto;
  }
}
