html, body {
  margin: 0;
  padding: 0;
  font-size: 1px;
}
h2{
  font-family: Roboto Slab Light;
}
header{
  width: 100%;
  display: block;
  padding: 60px 80px 20px 80px;
  float: left;
  background: linear-gradient(to right, rgba(128,202,165,1), rgba(170,223,241,1));
  box-sizing: border-box;
}
/*LOGO*/
figure{
  width: 30%;
  margin: 0px;
  float: left;
}
header figure img{
  height: 90px;
  width: 60%;
}
/*NAVIGATION*/
nav{
  width: 70%;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
}
nav ul{
  width: 100%;
  height: 50px;
  text-align: right;
  padding-top: 20px;
}
nav ul li{
  font-size: 15rem;
  display: inline;
  margin-right: 60px;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
/*.hamburger{
  position: absolute;
  left: 830px;
  top: 53px;
  border-style: none;
  background: inherit;
  color: white;
}*/
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {
  header{
    width: 100%;
    display: block;
    padding: 60px 80px 20px 80px;
    float: left;
    background: linear-gradient(to right, rgba(128,202,165,1), rgba(170,223,241,1));
    box-sizing: border-box;
  }
  /*LOGO*/
  figure{
    width: 30%;
    margin: 0px;
    float: left;
  }
  header figure img{
    height: 90px;
    width: 60%;
  }
  /*NAVIGATION*/
  nav{
    width: 70%;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
  }
  nav ul{
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 20px 0px 0px 0px;
  }
  nav ul li{
    font-size: 15rem;
    display: inline;
    margin-right: 40px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
  }
}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {
/*  header nav{
    border: 1px solid black;
    width: 69%;
  }*/
  header{
    width: 100%;
    display: block;
    padding: 60px 0px 20px 80px;
    float: left;
    background: linear-gradient(to right, rgba(128,202,165,1), rgba(170,223,241,1));
    box-sizing: border-box;
  }
  /*LOGO*/
  figure{
    width: 20%;
    margin: 0px;
    float: left;
  }
  header figure img{
    height: 90px;
    width: 100%;
  }
  /*NAVIGATION*/
  nav{
    width: 80%;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
  }
  nav ul{
    width: 100%;
    height: 50px;
    text-align: right;
    padding-top: 20px;
  }
  nav ul li{
    font-size: 15rem;
    display: inline;
    margin-right: 30px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
  }

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  header{
    width: 100%;
    display: block;
    padding: 60px 0px 20px 40px;
    background: linear-gradient(to right, rgba(128,202,165,1), rgba(170,223,241,1));
    box-sizing: border-box;
  }
  /*LOGO*/
  figure{
    width: 30%;
    margin: 0px;
    float: left;
  }
  header figure img{
    height: 90px;
    width: 100%;
  }
  /*NAVIGATION*/
  nav{
    width: 70%;
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
  }
  nav ul{
    width: 100%;
    height: 50px;
    text-align: right;
    padding-top: 20px;
  }
  nav ul li{
    font-size: 15rem;
    display: inline;
    margin-right: 20px;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  header{
    padding: 15px 0px 0px 0px;
    width: 100%;
    }
  header figure{
    width: 50%;
    transform: translate(50%, 0%);
  }
  header figure a{
    display: block;
    width: 100%;
  }
  header figure img{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .list{
    display: none;
  }
  header nav{
    width: 100%;
    height: auto;
    display: relative;
  }
  header nav ul{
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: center;
    margin: 0px;
  }
  header nav ul li{
    border: 1px solid black;
    width: 100%;
    display: block;
    padding: 10px;
  }
  header nav ul li a{
    color: black;
  }
  header nav .nav-mobile{
    width: 10%;
    height: 50px;
    position: absolute;
    content: url(../images/burgericon.svg);
    top: -85px;
    right: 20px;
    display: block;
    cursor: pointer;
  }
}
