html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
/*wrapper*/
/*.wrapper{*/
  /*width: 100%;*/
  /*height: auto;*/
  /*padding: 0px;*/
  /*margin: 0 auto;*/
/*}*/
.middle, .row {
  display: block;
  float: left;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  width: 100%;
}
.row .content {
  display: inline-block;
  float: left;
  width: 50%;
}
.row .media {
  display: inline-block;
  float: left;
  width: 50%;
}
.row .media figure img {
  height: auto;
  margin: -15px 0 15px 15px;
  width: 100%;
}
.row .media figure.media-bg {
  background: rgba(128,202,165,1);
}
.row .host-event-card {
  display: inline-block;
  float: left;
  padding: 15px;
  width: 25%;
}
.row .host-event-card figure {
  background-color: rgba(246,165,170,1);
  margin: auto;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
.row .host-event-card figure img {
  height: auto;
  margin: auto;
  text-align: center;
  width: 50%;
}
.row .host-event-card p {
  border: 1px solid rgba(246,165,170,1);
  margin: 0;
  padding: 15px;
  width: 100%;
}
.one{
  /*width: 50%;*/
  /*height: 400px;*/
  /*float: left;*/
}
section .one h2{
  /*font-size: 30rem;*/
  /*margin-top: 0px;*/
}
.oneP{
  /*font-size: 15rem;*/
}
/*.two{*/
  /*width: 50%;*/
  /*height: 400px;*/
  /*float: left;*/
/*}*/
.twoWrap{
  /*width: 94%;*/
  /*height: 360px;*/
  /*margin-top: 10px;*/
  /*margin-right: 15px;*/
  /*background: rgba(128,202,165,1);*/
  /*float: right;*/
}
.two .twoWrap img{
  /*width: 100%;*/
  /*height: 360px;*/
  /*margin: -11px 0px 0px 11px;*/
}
.three{
  /*border: 1px solid black;*/
  /*width: 100%;*/
  /*height: auto;*/
  /*clear: both;*/
}
.three h3{
  /*font-size: 20rem;*/
}
.rules{
  /*border: 1px solid rgba(246,165,170,1);*/
  /*width: 21%;*/
  /*height: 245px;*/
  /*display: inline-block;*/
  /*margin-left: 60.2px;*/
  /*margin-top: 0px;*/
  /*vertical-align: top;*/
}
.rules:last-of-type{
/*  margin-left: 55px;*/
}
.rulesT{
  /*margin-left: 0px;*/
}
.rulesLogo{
  /*width: 100%;*/
  /*height: 150px;*/
  /*margin: 0px;*/
}
.rulesImg{
  /*width: 100%;*/
  /*height: 150px;*/
}
.rulesP{
  /*font-size: 15rem;*/
  /*width: 80%;*/
  /*margin: 0 auto;*/
  /*height: auto;*/
  /*display: block;*/
  /*clear: both;*/
  /*padding-top: 10px;*/
}
/*-----------------------------------
# Media Queries
------------------------------------*/
/*-----------------------------------
## Wide Screens, Large Devices
------------------------------------*/
@media only screen and (max-width : 1200px) {

}
/*-----------------------------------
## Desktops, Medium Devices
------------------------------------*/
@media only screen and (max-width : 992px)  {

}
/*-----------------------------------
## Tablets, Small Devices
------------------------------------*/
@media only screen and (max-width : 768px)  {
  .row {
    padding: 15px;
  }
  .row .content, .row .media {
    width: 100%;
  }
  .row .host-event-card {
    width: 50%;
  }
}
/*-----------------------------------
## Phones, Extra Small Devices
------------------------------------*/
@media only screen and (max-width: 480px) {
  .row {
    padding: 15px;
  }
  .row .content, .row .media {
    width: 100%;
  }
  .row .host-event-card {
    width: 100%;
  }
}
